// Wagon main stylesheet file
@import '../materia/bulmaswatch';
@import '../highlight.sass';
@import "./node_modules/bulma-dashboard/src/bulma-dashboard.sass";

pre code, .highlight {
  text-align: left !important;
}
nav.main-nav {
    border-radius: 0;
    min-height: 4rem;
    .title {
        color: #fff;
        font-weight: bold;
    }
    .logo {
        padding-right: 10px;
    }
    > * > * > .navbar-item {
        margin: 0.75rem 0.25rem;
        border-radius: $radius;
    }
}

.is-fixed-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.home-page {
    .main-nav {
        background-color: transparent !important;
        box-shadow: none !important;
        .navbar-item, .navbar-link {
            &.is-active,
            &:hover {
                background-color: rgba($black, 0.05) !important;
            }
        }
    }
    .hero {
        overflow: hidden !important;
    }
    .hero-body {
        transform: translate3d(0, 0, 0);
        will-change: transform;
        transition: transform ease 1ms;
        padding-bottom: 0;
        .title {
            font-weight: 200;
            margin-top: 1rem;
        }
        .subtitle {
            font-weight: 700;
        }
        a {
            text-decoration: underline;
        }
        img {
            display: block;
        }
    }
    .iframe>* {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border-top-left-radius: $radius-large;
        border-top-right-radius: $radius-large;
    }
    .section.themes {
        padding-top: 5rem;
        padding-bottom: 5rem;
        .box {
            background-color: #fafafa;
            padding: 0 0 1rem;
            border-top-left-radius: $radius-large;
            border-top-right-radius: $radius-large;
            .block {
                margin: 1rem 0;
            }
        }
    }
}

.is-scrollable {
  overflow-y: auto
}

.dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh
}

.dashboard-panel {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  flex: 0 0 25rem;
  height: 100%
}

.dashboard-panel.left {
  width: 25rem
}

.dashboard-panel.right {
  width: 25rem
}

.dashboard-panel.has-thick-padding {
  padding: 3rem 2rem
}

.dashboard-panel.is-one-quarter {
  flex: 0 0 25%
}

.dashboard-panel.is-half {
  flex: 0 0 50%
}

.dashboard-panel.is-one-third {
  flex: 0 0 33.3333333333%
}

.dashboard-panel.is-small {
  flex: 0 0 15rem
}

.dashboard-panel.is-medium {
  flex: 0 0 20rem
}

.dashboard-panel.is-large {
  flex: 0 0 30rem
}

.dashboard-panel-header.is-centered, .dashboard-panel-content.is-centered,
.dashboard-panel-footer.is-centered {
  display: flex;
  justify-content: center
}

.dashboard-panel-header {
  margin-bottom: 2rem
}

.dashboard-panel-main {
  flex: 1
}

.dashboard-panel-footer {
  margin-top: 2rem
}

.dashboard-main {
  display: flex;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

.dashboard-main .navbar.is-fixed-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0
}

.dashboard-main .footer {
  flex: 1
}

/*# sourceMappingURL=bulma-dashboard.min.css.map */


